<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <console name="stdout" target="SYSTEM_OUT">
            <patternLayout pattern="[%d{HH:mm:ss}] %level: %msg%n"/>
        </console>
<!--        <file name="logfile" fileName="awdsrv-latest.log" immediateFlush="true" append="false">-->
<!--            <patternLayout pattern="[%d{dd/MM/YYYY HH:mm:ss.DDD}] [%t] %level: %msg%n"/>-->
<!--        </file>-->
        <RollingFile name="dailyfile"
                     fileName="logs/latest.log"
                     filePattern="logs/%d{yyyy-MM-dd}.log.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss}] (%c | %t) %p: %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="debug">
            <appenderRef ref="stdout"/>
            <appenderRef ref="dailyfile"/>
        </root>
    </loggers>
</configuration>
